body{
    background-image: url("Background.png");
}

#loc{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:medium;
    margin-left: 10px;
    margin-top: 25px;
}

.menu-central{
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu-central a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu-central a:hover{
  color: #13629b;
}

.tela-inteira{
  display: flex;
  justify-content: center;
}

.profile{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}

#profile_photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 350px;
    margin-top: 60px;
}

.profile_header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#profile_title{
    font-size: 60px;
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 2px;
}

#profile_subtitle{
    font-size:xx-large;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.671);
}
